.team {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.team h4 {
  font-family: "Anton", sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 4rem;
}

.sr-panel img {
  height: 450px;
  width: 450px;
  border-radius: 15%;
  object-fit: cover;
  text-align: center;
  /* border: 2px solid rgb(102, 21, 89); */
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.sr-panel h5:after {
  content: "";
  border-bottom: 4px solid #a52f9d;
  width: 35%;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 2px;
}
.sr-panel p {
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  .sr-panel img {
    width: 100%;
    border-radius: 50%;
    height: 80%;
    object-fit: cover;
  }
}
