.testimonial {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: rgba(104, 219, 37, 0.8);
  /* background-color: rgb(50, 94, 214); */
}

.testimonial .title {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 1rem;
  color: #fff;
}

.review {
  background-color: rgb(255, 255, 255);
  position: relative;
  /* display: block; */
  padding: 5rem 4rem;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}
.review .review-img {
  border-radius: 50%;
  position: absolute;
  bottom: -50%;
  left: 45%;
}
.review-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  border: 7px solid rgb(50, 94, 214);
}

.checked {
  color: rgb(255, 174, 0);
}

.testimonial .slick-list {
  padding-bottom: 9rem !important;
}

.slick-prev,
.slick-next {
  top: 30%;
}

@media only screen and (max-width: 600px) {
  .testimonial {
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-x: hidden;
  }
  .testimonial .title {
    margin-bottom: 0;
  }
  .review {
    padding: 1rem;
    padding-bottom: 7.5rem;
    padding-top: 0;
    text-align: start;
  }
  .review .review-img {
    border-radius: 0;
    position: absolute;
    bottom: -28%;
    left: 35%;
  }
  .rating {
    text-align: center;
  }
  .testimonial .slick-list {
    padding-bottom: 4rem !important;
  }
}
