.booking {
  margin-top: 1rem;
  /* overflow-x: hidden; */
}

.book-details {
  text-align: left;
  margin-top: 6rem;
}
.book-details span {
  font-family: "Lobster", cursive;
  color: #bb2d3b;
}
.book-details h2 {
  font-size: 34px;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  margin-top: 1rem;
}
.book-details p {
  font-size: 22px;
  margin-top: 2rem;
}
.book-details ul {
  margin-top: 2rem;
}
.book-details ul li {
  list-style: none;
  line-height: 2rem;
  font-size: 18px;
  font-weight: 400;
}
.book-details button {
  margin-top: 1rem;
  text-transform: uppercase;
  padding: 5rem;
}

@media only screen and (max-width: 600px) {
  .booking {
    margin-top: 0;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    padding-bottom: 2rem;
  }
  .book-details {
    margin-top: 0;
    text-align: center;
  }
  .book-details h2 {
    font-size: 24px;
  }
  .book-details p {
    font-size: 18px;
  }
  .book-details ul {
    display: flex;
    justify-content: space-between;
  }
  .book-details ul li {
    font-size: 15px;
  }
  .book-details button {
    padding: 3rem;
    font-size: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
