.header {
  background-image: url("../../../public/images/pexels-chris-schippers-427679.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header .container,
.row {
  height: 100%;
}

.header h2 {
  color: #bb2d3b;
  font-family: "Lobster", cursive;
  font-weight: 400;
  text-transform: capitalize;
}
.header p {
  color: #fff;
  font-family: "Anton", sans-serif;
  font-weight: 600;
  font-size: 44px;
  text-transform: capitalize;
  /* font-family: "Lobster", cursive; */
}
.header input {
  border: none;
  font-size: 18px;
  /* font-weight: bold; */
  color: rgb(0, 0, 0);
}
/* .header select {
  font-weight: lighter;
  color: gray;
} */
.header input::placeholder,
.header select,
.header input[type="date"] {
  font-size: 18px;
  font-weight: light;
  color: gray;
}
.header input:focus {
  outline: none;
  /* color: gray; */
}

.header label {
  margin-left: 8px;
  font-weight: 500;
  font-size: 18px;
  /* font-weight: bold; */
}
