.header {
  background-image: url("../../../public/images/pexels-chris-schippers-427679.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header .container,
.row {
  height: 100%;
}

.header h2 {
  color: #bb2d3b;
  font-family: "Lobster", cursive;
  font-weight: 400;
  text-transform: capitalize;
}
.header p {
  color: #fff;
  font-family: "Anton", sans-serif;
  font-weight: 600;
  font-size: 44px;
  text-transform: capitalize;
  /* font-family: "Lobster", cursive; */
}
.header input {
  border: none;
  font-size: 18px;
  /* font-weight: bold; */
  color: rgb(0, 0, 0);
}
/* .header select {
  font-weight: lighter;
  color: gray;
} */
.header input::placeholder,
.header select,
.header input[type="date"] {
  font-size: 18px;
  font-weight: light;
  color: gray;
}
.header input:focus {
  outline: none;
  /* color: gray; */
}

.header label {
  margin-left: 8px;
  font-weight: 500;
  font-size: 18px;
  /* font-weight: bold; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    height: auto;
  }
  .header .formContainer {
    margin-top: 1rem !important;
  }
  .header .form-box {
    border-bottom: 1px solid lightgray;
    padding: 10px;
  }
  .header .textBox {
    margin-top: 3rem;
  }
  .header form {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  }
  .header h2 {
    font-size: 22px;
  }
  .header p {
    font-size: 20px;
  }
  .header input {
    font-size: 12px;
  }
  .header label {
    font-size: 14px;
    font-weight: 400;
  }
  .header .find-btn {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
