body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  /* border: 1px solid red; */
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
  border: none;
  box-shadow: none !important;
}

@media only screen and (max-width: 600px) {
  .booking {
    overflow-x: hidden;
  }
}
