.country {
  margin-top: 7rem;
}
.country .dest {
  color: #bb2d3b;
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 18px;
}

.country .title {
  font-family: "Anton", sans-serif;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 4rem;
}

.image-container {
  position: relative;
  display: inline-block;
}
.image-container:hover img {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #acacac;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .country {
    margin-top: 3rem;
  }
  .country .title {
    margin-bottom: 1rem;
    font-size: 26px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
